// Variable Overrides 

// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";
@import url(https://use.fontawesome.com/releases/v5.0.10/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700);
@import url(https://fonts.googleapis.com/css?family=Courgette:200,300,400,700);

// Variables and Overrides 

$font-family-base:Montserrat;
$headings-font-family:Courgette;



    $theme-colors: (
        primary:#E5FFE9,
secondary:#0E3051,
$success:#00b058,
$danger:#cf4229,
$info:#5c8f94,
$warning:#cc6600,
light:#ffffff,
dark:#181F1C 
    );

$body-bg: dark;
$body-color: light;

@import "node_modules/bootstrap/scss/bootstrap";
//Fonts
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
    font-family: 'Acme';
    font-style: normal;
    font-weight: 400;
    src: local('Acme Regular'), local('Acme-Regular'), url(https://fonts.gstatic.com/s/acme/v9/RrQfboBx-C5_XxrBbg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  } 

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin: auto;
}

.navbar-brand {
    font-size: 2rem;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }

.jumbotron {
    height: 450px;
    background-image: url("../assets/Hero.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    background-color: hsla(359,0%,0%,0.45);
    padding: 15px;
    width: 50%;
    margin: auto;
}

.features {
    height: 730px;

}

.custom-bg {
    background-image: url(../assets/bkg-design.png);
    background-repeat: no-repeat;
}

.container {
    width: 100%;
}


.card-img-top {
    width: 200px;
    height: 190px;;
    object-fit: contain;
}

footer {
    h5 {
        font-size: .75rem;
    }
    P {
        font-size: .7rem;
    }
}

// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";
